<div id="body-div" layout="column">
    <md-nav-bar md-selected-nav-item="currentNavItem">
        <md-nav-item md-nav-click="vm.goHome()" name="home">Home</md-nav-item>
        <md-nav-item md-nav-click="vm.navigateToGroups()" name="groups">Find Groups</md-nav-item>
        <span flex></span>
        <md-button ng-click="vm.logout()" onclick="disabled='true';" class="md-primary" type="button">Logout</md-button>
    </md-nav-bar>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>{{vm.currGroup.name}}</span>
        </div>
        <md-button id="btnLeaveGroup" ng-click="vm.leaveGroup()" class="md-primary" type="button" aria-label="Leave Group">
            Leave Group
        </md-button>
    </md-toolbar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Yo</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <p>stuff</p>
            </md-content>
        </md-sidenav>
        <md-content layout="column" layout-align="center center" flex="">
            <md-card style="overflow:auto; width:60%;">
                <md-list flex>
                    <md-subheader class="md-no-sticky">Group Tasks</md-subheader>
                    <md-list-item data-ng-if="vm.tasks.length == 0">You have no tasks! You may add one below.</md-list-item>
                    <md-list-item class="md-3-line" ng-repeat="task in vm.tasks" ng-click="null">
                        <img ng-src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSDFbhtwSvbMcMSVDMF42OmtGFa9OoI4Qy2hYBz_1S4_59bIjxtUA" class="md-avatar" alt="group icon" />
                        <div class="md-list-item-text" layout="column">
                            <h3 style="text-align:center;"><b>{{task.title}}</b></h3>
                            <h4 style="text-align:center;">{{task.description}}</h4>
                            <h5 style="text-align:center;">Created by: {{task.creator}} on {{task.dateCreated | date: 'MM-dd-yyyy'}}</h5>
                            <div style="text-align:center;" ng-if="task.users.length > 0">
                                Assigned to: <span ng-repeat="user in task.users">{{user}}</span>
                            </div>
                            <p style="text-align:center; color:darkred" ng-if="task.users.length == 0">No users assigned to this task</p>
                            <div flex-gt-sm="50">
                                <md-checkbox ng-model="task.status" aria-label="Completed?" ng-change="statusChanged(task)">
                                    Task Complete?
                                </md-checkbox>
                            </div>
                        </div>

                        <md-button id="btnJoinTask" ng-click="addUserToTask(task)" class="md-primary" type="button" aria-label="Join Task">
                            JOIN TASK
                        </md-button>
                        <md-button id="btnRemoveTask" ng-click="removeTask(task.title)" class="md-primary" type="button" aria-label="Delete Task">
                            DELETE TASK
                        </md-button>
                    </md-list-item>
                </md-list>
                <md-subheader class="md-no-sticky">Add a New Task:</md-subheader>
                <md-input-container>
                    <label>Task Name</label>
                    <input ng-model="title" type="text" name="title">
                </md-input-container>
                <md-input-container>
                    <label>Description</label>
                    <input ng-model="description" type="text" name="description">
                </md-input-container>
                <md-button id="btnAddTask" ng-click="addTask()" class="md-primary" type="button" aria-label="Add Task">
                    ADD TASK
                </md-button>

            </md-card>


            <!----<div>
                <md-card style="overflow:auto;" layout="row" layout-align="space-around center">
                    <h2> Group Calendar </h2>

                </md-card>

                <!--
                      <md-card style="overflow:auto;">
                       <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="event in vm.events" ng-click="null">
                          <div class="md-list-event-dates" layout="column">
                            <h3>NOV. 21</h3>
                            <h4>12:00 - 12:00</h4>
                            <h4>Lawson</h4>
                          </div>
                          <div class="md-list-event-item-text" layout="column">
                            <h3 style="text-align:center;"><b>{{ event.name }} </b></h3>
                            <h4 style="text-align:center;">{{event.description}}</h4>
                          </div>
                          <md-button id="btnRemoveEvent" ng-click="vm.deleteEvent(event)" class="md-primary" type="button" aria-label="Delete Event">
                            DELETE EVENT
                          </md-button>
                        </md-list-item>
                      </md-list>

                <md-subheader class="md-no-sticky">Add a New Event:</md-subheader>
                      <md-input-container>
                        <label>Event Name</label>
                        <input ng-model="name" type="text" name="name">
                      </md-input-container>
                      <md-input-container>
                        <label>Description</label>
                        <input ng-model="EventDescription" type="text" name="EventDescription">
                      </md-input-container>
                      <md-button id="btnAddEvent" ng-click="addEvent()" class="md-primary" type="button" aria-label="Add Event">
                        ADD EVENT
                      </md-button>

                      </md-card>
                      </div>
                      </md-content>
                      </md-content>
                      </div>


                <md-card layout="row" layout-align="space-around center">

                    <md-subheader class="md-no-sticky">Add a New Event:</md-subheader>

                    <div layout="column" layout-align="center center">
                        <div layout="row" layout-align="space-around center">

                            <md-input-container>
                                <label>Event Name</label>
                                <input ng-model="eventName" type="text" name="eventName">
                            </md-input-container>


                       <md-
                            in
                            <md-input-container>
                                <label>Description</label>
                                <input ng-model="eventDescription" type="text" name="eventDescription">
                            </md-input-container>
                            <md-input-container>
                                <label>Location</label>
                                <input ng-model="eventLocation" type="text" name="eventLocation">
                            </md-input-container>

                        </div>

                        <div layout="row" layout-align="space-around center">
                            <md-input-container>
                                <md-datepicker ng-model="myDate" name="myDate" md-placeholder="Enter date"></md-datepicker>
                            </md-input-container>
                            <md-input-container>
                                <label>StartTime</label>
                                <input ng-model="startTime" type="text" name="startTime">
                            </md-input-container>
                            <md-input-container>
                                <label>EndTime</label>
                                <input ng-model="endTime" type="text" name="endTime">
                            </md-input-container>
                        </div>
                    </div>

                    <md-button ng-click="vm.addEvent()" class="md-primary" type="button">
                        Add Event
                    </md-button>
                </md-card>

                <div ng-repeat="event in vm.events">
                    <md-card layout="row">
                        <md-card-content layout="column" layout-align="center center">
                            <md-card-content> <h2> {{vm.printDate(event)}} </h2> </md-card-content>
                            <div> {{vm.printTimes(event)}}</div>
                            <div> {{ event.location }} </div>
                        </md-card-content>
                        <md-card-content layout="column" layout-align="center center" flex="">
                            <div><h2> {{ event.name }}  </h2></div>
                            <div> {{ event.description }} </div>
                        </md-card-content>
                        <md-card-actions layout="column" layout-align="center center">
                            <md-button ng-click="vm.editEvent() " onclick="disabled='false';" class="md-primary" type="button">Edit Event</md-button>
                            <md-button ng-click="vm.deleteEvent(event)" onclick="disabled='false';" class="md-primary" type="button">Delete Event</md-button>
                        </md-card-actions>
                    </md-card>

                </div>
            </div>-->
        </md-content>


    </section>
</div>
