<div id="body-div" layout="column">
	<md-nav-bar md-selected-nav-item="currentNavItem">
		<md-nav-item md-nav-click="vm.goHome()" name="home">Home</md-nav-item>
		<md-nav-item md-nav-click="vm.navigateToGroups()" name="groups">Find Groups</md-nav-item>
		<span flex></span>
		<md-button ng-click="vm.logout()" onclick="disabled='true';" class="md-primary" type="button" >Logout</md-button>
	</md-nav-bar>
	<md-content layout="column" layout-align="center center" flex="">
		<md-card style="overflow:auto;">
			<md-list flex>
				<md-subheader class="md-no-sticky">All Groups</md-subheader>
				<md-list-item data-ng-cloak data-ng-if="vm.groups.length == 0">No groups have been created! Click below to create one.</md-list-item>
				<md-list-item class="md-3-line" ng-repeat="group in vm.groups" ng-click="null">
					<img ng-src="https://i.reddituploads.com/4c36016368384d0ea62e67774fa0078c?fit=max&h=1536&w=1536&s=7dbe924a2338d63fca38f782e7121131" class="md-avatar" alt="group icon" />
					<div class="md-list-item-text" layout="column">
						<h3 style="text-align:center;"><b>{{group.name}}</b></h3>
						<h4>{{group.description}}</h4>
					</div>
					<md-button id="btnJoinGroup" ng-click="vm.joinGroup(group)" class="md-primary" type="button" aria-label="Join Group">JOIN GROUP</md-button>
				</md-list-item>
			</md-list>
			<md-subheader class="md-no-sticky">Create a New Group:</md-subheader>
			<md-input-container>
				<label>Group Name</label>
				<input ng-model="groupName" type="text" name="groupName">
			</md-input-container>
			<md-input-container>
				<label>Group Description</label>
				<input ng-model="groupDescription" type="text" name="groupDescription">
			</md-input-container>
			<md-button id="creategroup-button" style="margin-right:40%; margin-left:40%;" layout-align="center center" ng-click="createGroup()" class="md-primary" type="button" aria-label="Create Group">
				CREATE GROUP
			</md-button>
		</md-card>
	</md-content>
</div>
