<div id="body-div" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="clickable" data-ng-click="vm.goHome()">Groupr</h2>
			<span flex></span>
		</div>
	</md-toolbar>
<p data-ng-cloak data-ng-if="vm.groups.length == 0">You are not a member of any groups.</p>
<table class="table-striped" data-ng-if="vm.groups.length > 0">
    <thead>
<tr>
    <th>Group Name</th>
    <th>Description</th>
</tr>
<tbody>
    <tr data-ng-repeat="group in vm.groups ">
        <td>{{group.name}}</td>
        <td>{{group.description}}</td>
				<td><md-button id="joingroup-button" ng-click="joinGroup(this)" onclick="disabled='true';" class="md-primary" type="button" aria-label="Join Group">JOIN GROUP</md-button></td>
    </tr>
</tbody>
</table>

<md-button id="creategroup-button" ng-click="createGroup()" class="md-primary" type="button" aria-label="Create Group">
	CREATE GROUP
</md-button>





</div>
