<div id="body-div" layout="column">
    <md-nav-bar md-selected-nav-item="currentNavItem">
        <md-nav-item md-nav-click="vm.goHome()" name="home">Home</md-nav-item>
        <md-nav-item md-nav-click="vm.navigateToGroups()" name="groups">Find Groups</md-nav-item>
        <span flex></span>
        <md-button ng-click="vm.logout()" onclick="disabled='true';" class="md-primary" type="button">Logout</md-button>
    </md-nav-bar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{vm.currGroup.name}}</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <div style="text-align:center;">  <md-button ng-click="vm.groupCalendar()" onclick="disabled='true';" class="md-primary" type="button">Group Calendar</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.groupChat()" onclick="disabled='true';" class="md-primary" type="button">Chat</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.groupTasks()" onclick="disabled='true';" class="md-primary" type="button">Tasks</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.groupComplaints()" onclick="disabled='true';" class="md-primary" type="button">Complaint Box</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.leaveGroup()" class="md-primary" type="button">Leave Group</md-button></div>
            </md-content>
        </md-sidenav>
        <md-content layout="column" layout-align="center center" flex="">
            <md-card style="overflow:auto; width:60%; height: 100%;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h1>Group Chat</h1>
                    </div>
                </md-toolbar>
                <md-list flex style="overflow: auto; height: 500px;">
                    <md-list-item class="md-2-line md-long-text" ng-repeat="message in messages">
                        <!-- Add Some NG-Repeat Here -->
                        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2000px-User_icon_2.svg.png" class="md-avatar" alt="{{message.user}}" />
                        <div class="md-list-item-text" layout-align="start start">
                            <h4>{{message.user}}</h4>
                            <p><b>{{message.message}}</b></p>
                        </div>
                    </md-list-item>
                </md-list>
                <form ng-submit="vm.sendMessage()" layout="column">
                    <md-input-container>
                        <label>Send Message:</label>
                        <input ng-model="newMessage" placeholder="Say something!">
                    </md-input-container>

                    <md-button ng-click="vm.sendMessage()" class="md-accent" type="button">Send</md-button>
                </form>
            </md-card>
        </md-content>
    </section>
</div>
