<div id="body-div" layout="column">
    <md-nav-bar md-selected-nav-item="currentNavItem">
        <md-nav-item md-nav-click="vm.goHome()" name="home">Home</md-nav-item>
        <md-nav-item md-nav-click="vm.navigateToGroups()" name="groups">Find Groups</md-nav-item>
        <span flex></span>
        <md-button ng-click="vm.logout()" onclick="disabled='true';" class="md-primary" type="button">Logout</md-button>
    </md-nav-bar>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{vm.currGroup.name}}</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <div style="text-align:center;">  <md-button ng-click="vm.groupCalendar()" onclick="disabled='true';" class="md-primary" type="button">Group Calendar</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.groupChat()" onclick="disabled='true';" class="md-primary" type="button">Chat</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.groupTasks()" onclick="disabled='true';" class="md-primary" type="button">Tasks</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.groupComplaints()" onclick="disabled='true';" class="md-primary" type="button">Complaint Box</md-button></div>
                <div style="text-align:center;">  <md-button ng-click="vm.leaveGroup()" class="md-primary" type="button">Leave Group</md-button></div>
            </md-content>
        </md-sidenav>
        <md-content layout="column" layout-align="center center" flex="">
          <md-card style="overflow:auto; width:60%;">
          <md-toolbar>
              <div class="md-toolbar-tools">
              <h1>Group Chat</h1>
               </div>
          </md-toolbar>
              <md-list flex>
                  <md-list-item class="md-3-line" ng-repeat="message in messages"> <!-- Add Some NG-Repeat Here -->
                      <div class="md-list-item-text" layout="column" layout-align="start start">
                          <h4 style="text-align:center;">{{message.user}} : {{message.message}}</h4>
                      </div>
                  </md-list-item>
              </md-list>
        			<input width="50%" ng-model="newMessage"></input>
          <md-button ng-click="vm.sendMessage()" class="md-accent" type="button">Send</md-button>
      </md-card>
        </md-content>
      </section>
  </div>
