<div id="body-div" layout="column">
	<md-nav-bar md-selected-nav-item="currentNavItem">
		<md-nav-item md-nav-click="vm.goHome()" name="home">Home</md-nav-item>
		<md-nav-item md-nav-click="vm.navigateToGroups()" name="groups">Groups</md-nav-item>
		<span flex></span>
		<md-button ng-click="vm.logout()" onclick="disabled='true';" class="md-primary" type="button" >Logout</md-button>
	</md-nav-bar>
	<md-content class="md-padding" layout="column" layout-align="center center" flex="">
		<md-card style="max-width:50%;" layout="row">

		</md-card>
	</md-content>
</div>
