<div id="body-div" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>CloudView</h2>
			<span flex></span>
		</div>
	</md-toolbar>
	<md-content class="md-padding" layout="column" layout-align="center center" flex="">
		<md-card  style="max-width: 500px;">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Welcome to Cloud View</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">
				<div class="card-media">
					CloudView is the new central interface for all of your cloud storage services.  It will allow you to access your Google Drive, Dropbox, and OneDrive files all in one place and allow you to search all you your accounts at once.  You can also upload and download your files from you accounts, as well as move files between accounts, without needing to switch applications.
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="login()" id="login">{{ "LOGIN.LOGIN" | translate }}</md-button>
				<md-button ng-click="signup()" class="md-primary" id="signup">{{ "SIGNUP.SIGNUP" | translate }}</md-button>
	    	</md-card-actions>
		</md-card>
	</md-content>
</div>
