
<div id="body-div" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
						<h2 class="clickable" data-ng-click="vm.goHome()">Groupr</h2>

			<span flex></span>
		</div>
	</md-toolbar>
	<md-content class="md-padding" layout="column" layout-align="center center" flex="">
		<md-card  style="max-width: 500px;">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Welcome to Groupr</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">
				<div class="card-media">
					Groupr keeps your small group organized. 
				</div>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="login()" class="md-primary" id="login">Login</md-button>
				<md-button ng-click="signup()" class="md-primary" id="signup">Sign Up</md-button>
	    	</md-card-actions>
		</md-card>
	</md-content>
</div>
