<div id="body-div" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1 id="title">
				<span>Groupr</span>
			</h1>
			<!-- central gap -->
			<span flex=""></span>

			<md-button id="signup-button"  ng-click="signup()" class="md-button" type="button" aria-label="Sign Up">
				Sign Up
			</md-button>
		</div>
	</md-toolbar>
	<md-content class="md-padding" layout="column" layout-align="center center" flex="">
		<form name="loginForm" layout="column">
			<md-card style="max-width: 300px;">
				<md-toolbar hide-xs>
					<div class="md-toolbar-tools">
						<h1 id="title">
							<span>New Password</span>
						</h1>
						<!-- central gap -->
						<span flex=""></span>
					</div>
				</md-toolbar>
				<md-card-content layout="column" style="padding-bottom: 0px;">
					<md-input-container style="margin: 0px">
						<label>Email</label>
						<input ng-model="email" type="text" name="email" required></input>
					</md-input-container>
					<md-input-container style="margin: 0px">
						<label>Current Password</label>
						<input ng-model="curPassword" type="password" name="curPassword" required></input>
					</md-input-container>
					<md-input-container style="margin: 0px">
						<label>New Password</label>
						<input ng-model="newPassword" type="password" name="newPassword" required></input>
					</md-input-container>
					<md-input-container style="margin: 0px">
						<label>Confirm New Password</label>
						<input ng-model="confirmPassword" type="password" name="confirmPassword" required></input>
					</md-input-container>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<span flex=""></span>
					<md-button id="login-button"class="md-button md-primary" ng-click=changePassword() aria-label="Login">
						Change Password
					</md-button>
				</md-card-actions>
			</md-card>
		</form>
	</md-content>
</div>
