<md-dialog aria-label="Schedule Assistant">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Schedule Assistant</h2>
		</div>
	</md-toolbar>
	<md-dialog-content style="min-width: 300px;" class="md-padding" layout="column" layout-align="center center">
		<md-input-container style="margin: 0px">
			<md-datepicker ng-model="myDate" name="myDate" md-placeholder="Enter date"></md-datepicker>
		</md-input-container>
		<md-input-container style="margin: 0px">
			<label>Start Time</label>
			<input ng-model="startTime"></input>
		</md-input-container>
		<md-input-container style="margin: 0px">
			<label>End Time</label>
			<input ng-model="endTime"></input>
		</md-input-container>
		<md-input-container>
            <label> Hours </label>
            <input ng-model="durationHours" type="text" name="durationHours">
        </md-input-container>
        <md-input-container>
            <label> Minutes </label>
            <input ng-model="durationMinutes" type="text" name="durationMinutes">
        </md-input-container>
	</md-dialog-content>


	<md-dialog-actions layout="row" layout-align="center center">
		<md-button type="button" ng-click="close()">
			Cancel
		</md-button>
		<md-button type="button" ng-click="create()">
			Submit
		</md-button>
	</md-dialog-actions>
</md-dialog>