<div id="body-div" layout="column">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1 id="title">
				<span>Groupr</span>
			</h1>
			<!-- central gap -->
			<span flex=""></span>

			<md-button id="login-button"  ng-click="login()" class="md-button" type="button" aria-label="Login">
				Login
			</md-button>
		</div>
	</md-toolbar>
	<md-content class="md-padding" layout="column" layout-align="center center" flex>
		<form name="signupForm" ng-submit="signupForm.$valid && signup()">
			<md-card id="signup">
				<md-toolbar hide-xs>
					<div class="md-toolbar-tools">
						<h1 id="title">
							<span>Sign Up</span>
						</h1>
						<!-- central gap -->
						<span flex=""></span>
					</div>
				</md-toolbar>
				<md-card-content layout="column">
					<md-input-container>
						<label>Full Name</label>
						<input ng-model="name" type="text" name="name" ng-disabled="loading.is"></input>
					</md-input-container>
					<md-input-container>
						<label>Username</label>
						<input ng-model="username" type="text" name="username" ng-disabled="loading.is" required xreg-pattern="^[0-9_\-\pL]+$"></input>
					</md-input-container>
					<div layout-gt-xs="row" layout="column">
						<md-input-container>
							<label>Email</label>
							<input ng-model="email" name="email" type="email" ng-change="signupForm.confirmEmail.$validate();" ng-disabled="loading.is" xreg-pattern="^.+@.+\..+$" required></input>
						</md-input-container>
						<md-input-container>
							<label>Confirm Email</label>
							<input ng-model="confirmEmail" name="confirm_email" type="email" data-match="signupForm.email" ng-disabled="loading.is" xreg-pattern="^.+@.+\..+$" required autocomplete="off"></input>
						</md-input-container>
					</div>
					<div layout-gt-xs="row" layout="column">
						<md-input-container>
							<label>Passwrod</label>
							<input ng-model="password" type="password" name="password" ng-change="signupForm.confirmPassword.$validate();" ng-disabled="loading.is" required></input>
						</md-input-container>
						<md-input-container>
							<label>Confirm Password</label>
							<input ng-model="confirmPassword" name="confirm_password" data-match="signupForm.password" type="password" ng-disabled="loading.is" required></input>
						</md-input-container>
					</div>
					<div style="clear:both;"></div>
				</md-card-content>
				<div layout="row" layout-align="end center">
					<md-button id="signup-button" type="submit" focus-on="signup" class="md-button md-primary" ng-disabled="loading" aria-label="Sign Up">
						Sign Up
					</md-button>
				</div>
			</md-card>
		</form>
	</md-content>
</div>
